<!DOCTYPE html>
<html lang="en">
  
    <% include ./partials/head.ejs %>

  <body>

    <div class="container">
      
      <% include ./partials/header.ejs %>
      <h2 class="page-header">Contact List</h2>
            <% if(errors) { %>
              <% errors.forEach(function(item) { %>
                <div class="alert alert-danger"><%= item.msg %></div>
              <% }); %>
            <% } %>
            <% if(errorMsg.length) { %>
              <div class="alert alert-danger" id="customErr"><%= errorMsg %></div>
            <% } %>
            <% if(successMsg.length) { %>
                <div class="alert alert-success" id="customSuccess"><%= successMsg %></div>
            <% } %>
        <section id="newContact">
          <button class="btn btn-primary" type="button" id="formButton"><i class="fa fa-user-plus"></i> New Contact</button>
        </section>
        

        <form id="newContForm" class="form-signin" method="post" action="/users/newcontact">

          <div class="cancel"><button type="button" class="btn-xs btn-primary">X</button></div>
          
          <h4 class="form-signin-heading">Create New Contact</h4>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
          <input class="form-control" type="text" placeholder="Name" name="contName">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <input class="form-control" type="email" placeholder="E - Mail" name="contEmail">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input class="form-control" type="tel" placeholder="Phone Number" name="contPhone">
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>

        <form id="editContForm" class="form-signin" method="post" action="/users/newcontact">

          <div class="cancel"><button type="button" class="btn-xs btn-primary">X</button></div>
          
          <h4 class="form-signin-heading">Edit Contact</h4>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
          <input class="form-control" type="text" placeholder="Name" name="contName" id="editName">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <input class="form-control" type="email" placeholder="E - Mail" name="contEmail" id="editEmail">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input class="form-control" type="tel" placeholder="Phone Number" name="contPhone" id="editPhone">
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>

        <section id="contDisplay">
          <% if(contacts.length) { %>
            <% contacts.forEach(function(item) { %>
              <section class="eachCont" id="<%= item.id %>">
                <div class="col-lg-12" id="contactCont">
              
                <h1><i class="fa fa-id-card-o"></i><span class="contname"> <%= item.contname %></span></h1>
                <p class="lead"><i class="fa fa-envelope"></i><span class="contemail"> <%= item.contemail %></span></p>
                <p class="lead"><i class="fa fa-phone"></i><span class="contphone"> <%= item.contphone %></span></p>

                <form onsubmit="return checkUser()" action="/users/deletecont/<%= item.id %>" method="POST" >
                  <p><button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> | Delete Contact</button></p>
                </form>
                  <p class="editBtn"><button class="btn btn-primary"><i class="fa fa-pencil"></i> | Edit Contact</button></p>                
                </div>
              </section>
            <% }); %>
          <% } else { %>
            <h3>No Contacts.</h3>
          <% } %>
        </section>
        
        

        <% include ./partials/footer.ejs %>
        
    </div> <!-- /container -->

      <% include ./partials/jsdefaults.ejs %>
    
  </body>
</html>
