<article class="creation">
    <h1>Creation</h1>
    <p>
        <img src="<%= appdata.creation.where.img %>" alt="Creation Point">This page has been created on
        <%= appdata.creation.date %>, <%= appdata.creation.time %> by
        <%= appdata.creation.where.name %>, <%= appdata.creation.where.address %>
    </p>
    
</article>